.slick-prev:before,
.slick-next:before {
  background: #0000;
}

#services {
  margin-top: 1rem;
}
.services-item {
  background-color: $secondary;
  border-radius: 15px;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0.5rem;
}
