@import '../../sassStyles/variables';

.slick-prev:before,
.slick-next:before {
  background: #0000;
}

#services {
  padding: 0px;
}
.services-item {
  background-color: $secondary;
  border-radius: $border-radius;
  color: white;
  margin: 0 10px 0 10px;
  padding: 15px;
  transition: all ease-out 0.2s;
}
.services-item:hover {
  background: #274d8a;
  box-shadow: 0px 0px 10px 0px rgba(128, 122, 122, 0.12);
}

.destaque_title {
  font-weight: 500;
  margin-top: 5px;
  display: block;
  color: $secondaryColor;
  text-align: center;
  text-decoration: none;
  transition: all ease-out 0.2s;
}
.destaque_title:hover {
  color: $orangeColor !important;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgba(128, 122, 122, 0.12);
}

.img-container {
  margin: 0 5px 0 5px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  position: relative;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  position: relative;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.8;
}
