@import '../../sassStyles/variables';

#privacy {
  padding: 16px;
  color: $textLightColor;
  font-family: Roboto;
}

#privacy p {
  text-align: justify;
  color:rgb(106, 104, 104);
}

#privacy h1 {
  padding-bottom: 16px;
}
