@import '../../sassStyles/variables';

.privacy-policy__content {
  padding: 16px;
  color: $textLightColor;
  font-family: Roboto;
}

.privacy-policy__content p {
  text-align: justify;
  color:rgb(106, 104, 104);
}

.privacy-policy__content h1 {
  padding-bottom: 16px;
}
