@import '../../sassStyles/variables';

.navbar {
  -webkit-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
}

.nav-link {
  color: $textLightColor !important;
}

.nav-link:hover {
  color: $orangeColor !important;
  transition: all ease-out 0.2s;
}

.navbar-text {
  color: $textLightColor !important;
}

.navbar-text:hover {
  color: $orangeColor !important;
  transition: all ease-out 0.2s;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: $secondary;
}
