@import '../../sassStyles/mixins';

#gallery {
  margin-bottom: 6rem;
}

.content-box {
  -webkit-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  padding: 3.2rem;
  border-radius: $border-radius;
  color: $textLightColor;
}

.content-box:hover {
  color: $orangeColor !important;

  transition: all ease-out 0.5s;
}
.content-box button {
  padding: 12px;
}

// button 'Orçamentos'
.content-box > button:nth-child(4) {
  margin-right: 15px;
}
