@import './custom';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// Header component styles
@import '../components/Header/Header.scss';

// Gallery component styles
@import '../components/Gallery/Gallery.scss';

// Carousell component styles
@import '../components/Carousel/Carousell.scss';

// Slick component styles
@import '../components/Slick/Slick.scss';

//About Component Styles
@import '../components/About/About.scss';

//ClientsCounter Styles
@import '../components/ClientsCounter/ClientsCounter.scss';

//ClientsBrand Styles
@import '../components/ClientsBrand/ClientsBrand.scss';

//Quotation Styles
@import '../components/Quotation/Quotation.scss';

//Footer Styles
@import '../components/Footer/Footer.scss';

//ServiceBox Styles
@import '../pages/PageNotFound.scss';

//ServicesBox Styles
@import '../pages/ServicesBox.scss';

//Contacts Styles
@import '../components/Contacts/Contacts.scss';

//Privacy Policy Styles
@import '../components/PrivacyPolicy/PrivacyPocilyl.scss';

body {
  // to fix content hidden after config navbar as fixed
  padding-top: 8rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.artvogue__font {
  color: $textLightColor;
}

.artvogue-forms .form-control {
  height: 3rem;
  border-color: $orangeColor;
}

.artvogue-forms {
  font-family: Roboto;
  color: $textLightColor;
  border-radius: $border-radius;
  padding: 5px;
}
.artvogue-forms .form-control {
  height: 3rem;
  border-color: $orangeColor;
}

.modal-title {
  color: $secondary;
}

#root > div > div.cookie > div:nth-child(1) > a {
  color: $textLightColor;
  font-weight: 500;
}

#root > div > div.cookie > div:nth-child(1) > a:hover {
  color: $orangeColor;
}

.form__button {
}
