@import './variables';
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body {
    padding-top: 4.2rem;
  }
  .navbar-brand img {
    height: 40px;
  }

  .carousel img {
    height: 50%;
  }

  .content-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: $margin;
    margin-top: $margin;
  }

  .content-box h1 {
    font-size: 2.5rem;
  }

  #services {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    color: transparent;
    position: relative;
  }

  .slick-prev:before,
  .slick-next:before {
    color: transparent;
    position: relative;
  }

  #about {
    padding: 15px;
  }

  .about-content {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .counter {
    margin-bottom: 1rem;
  }
  #quotation {
    -webkit-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
    box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
    background: white;
    margin: 32px 0px 32px 0px;
    color: $textLightColor;
  }

  #quotation img {
    padding-bottom: 16px;
  }

  #quotation h3 {
    padding-bottom: 16px;
  }

  .contact__layout {
    -webkit-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
    box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
    background: white;
    margin: 0px 0px 32px 0px;
    color: $textLightColor;
    padding: 16px 32px 16px 32px;
    border-radius: $border-radius;
  }

  #contact img {
    padding-bottom: 16px;
  }

  .contact__title {
    padding-bottom: 16px;
  }

  .contact__submit {
    background-color: $secondaryColor;
    color: white;
    align-content: center;
  }

  .contact__input {
    margin-bottom: 2rem;
  }

  .contact__textarea {
    margin-bottom: 2rem;
  }
  .brand-item img {
    height: 80px;
  }
  #privacy {
    margin: 0 10px 0 10px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .content-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: $margin;
    margin-top: $margin;
  }
  .brand-item img {
    height: 80px;
  }
  #privacy {
    margin: 0 10px 0 10px;
  }
}
