@import './/variables';
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body {
    padding-top: 4.2rem;
  }
  .navbar-brand img {
    height: 40px;
  }
  #gallery {
    margin-bottom: $margin;
  }

  .carousel img {
    height: 50%;
  }

  .content-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: $margin;
    margin-top: $margin;
  }

  .content-box h1 {
    font-size: 2.5rem;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    color: transparent;
    position: relative;
  }

  .slick-prev:before,
  .slick-next:before {
    color: transparent;
    position: relative;
  }

  #about {
    padding: 15px;
    margin-bottom: 1rem;
  }

  .about-content {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .counter {
    margin-bottom: 1rem;
  }
  #quotation {
    padding: 50px;
  }
  #quotation-logo {
    height: 5px;
    padding-bottom: 5rem;
  }
 

  #quotation-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
