//Colors

$primaryColor: #ffffff;
$secondaryColor: #3968b3;
$textLightColor: #244479;
$textColor: #0000;
$greenColor: #42b37c;
$orangeColor: #fe914e;

//Margins

$margin: 32px;

//Borders

$border-radius: 10px;
