@import '../../sassStyles/variables';

#counter {
  text-align: center;
  color: $textLightColor;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
  color: $textLightColor;
}

#clientes-counter {
  margin: 0 5px 0 5px;
  font-size: 2rem;
}
