@import '../../sassStyles/variables';

#counter {
  text-align: center;
  color: $textLightColor;

}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
}
