@import '../../sassStyles/variables';

.counter {
  text-align: center;
  color: $textLightColor;
}

.counter__icon {
  display: inline-block;
  vertical-align: middle;
}

.counter__text {
  display: inline-block;
  vertical-align: middle;
  color: $textLightColor;
}

#ccounter__number {
  margin: 0 5px 0 5px;
  font-size: 2rem;
}
