$primary: #ffffff;
$secondary: #002855;

@import '~bootstrap/scss/bootstrap.scss';

// Header component styles
@import './components/Header/Header.scss';

// Gallery component styles
@import './components/Gallery/Gallery.scss';

// Carousell component styles
@import './components/Carousel/Carousell.scss';

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import './components/Slick/Slick.scss';

body {
  // to fix content hidden after config navbar as fixed
  padding-top: 6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  body {
    padding-top: 4.2rem;
  }
}
