$primary: #ffffff;
$secondary:#002855;

@import '~bootstrap/scss/bootstrap.scss';

// Header component styles
@import './components/Header/Header.scss';

body {

  // to fix content hidden after config navbar as fixed
  padding-top: 6rem;
}
