@import '../../sassStyles/variables';

.contact__layout {
  -webkit-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  box-shadow: 0px 2px 6px 1px rgba(148, 148, 148, 1);
  background: white;
  margin: 0px 64px 32px 64px;
  color: $textLightColor;
  padding: 48px 70px 96px 70px;
  border-radius: $border-radius;
}

.contact__title {
  padding-bottom: 16px;
}

.contact__input {
  height: 3rem;
  margin-bottom: 2rem;
  border-color: $orangeColor;
  color: $secondary;
}

.contact__textarea {
  height: 6rem;
  border-color: $orangeColor;
  margin-bottom: 2rem;
}

.contact__policy {
  font-weight: 500;
}

.contact__submit {
  border-color: $secondary;
  background-color: $secondary;
  color: white;
}
